Package: com.listrise.dinapenis
Name: dinapenis
Version: 0.4.0
Architecture: iphoneos-arm
Description: Dynamic Island как на iPhone 14 Pro, для iOS 12-15
Maintainer: listrise
Author: listrise
Section: Tweaks (iOS 12-15)
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware (>= 12.0)
